# _COMO O ACESSO A ESCOLARIDADE INFLUENCIA O INDIVÍDUO A MANTER-SE CONECTADO?_

In [29]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
from math import *
from scipy import *

In [2]:
import os
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/home/pedro/Documents/Insper/2DP/Dados/Projeto 1/DS18/PNAD 2011

In [3]:
dados = pd.read_csv('../../Excels/PNAD2011/PES2011.csv')

In [4]:
dados = dados.loc[:, ['V9532', 'V4801', 'V06111', 'V06112']]
dados.tail()

         V9532  V4801  V06111  V06112
358914     NaN   15.0     NaN     NaN
358915  7000.0    NaN     1.0     1.0
358916  3500.0    NaN     1.0     1.0
358917     NaN   22.0     1.0     1.0
358918     NaN   13.0     NaN     NaN

#  __Para escolaridade:__

In [5]:
dados.V4801.loc[(dados.V4801 == 1) | (dados.V4801 == 2)] = 'Em alfabetização'

In [6]:
dados.V4801.loc[(dados.V4801 == 3) | (dados.V4801 == 21)] = 'Jovens e Adultos em alfabetização ou cursando Ensino Fundamental'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
dados.V4801.loc[(dados.V4801 == 23)] = 'Jovens e Adultos cursando Ensino Médio'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
dados.V4801.loc[(dados.V4801 == 4) | (dados.V4801 == 5) | (dados.V4801 == 6) | (dados.V4801 == 7) | (dados.V4801 == 12) | (dados.V4801 == 13) | (dados.V4801 == 14) | (dados.V4801 == 15)] = 'Ensino Fundamental I em tempo regular'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
dados.V4801.loc[(dados.V4801 == 8) | (dados.V4801 == 9) | (dados.V4801 == 10) | (dados.V4801 == 11) | (dados.V4801 == 16) | (dados.V4801 == 17) | (dados.V4801 == 18) | (dados.V4801 == 19) | (dados.V4801 == 20)] = 'Ensino Fundamental I em tempo regular'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
dados.V4801.loc[(dados.V4801 == 22)] = 'Ensino Médio em tempo regular'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
dados.V4801.loc[(dados.V4801 == 24)] = 'Pré-Vestibulando'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
dados.V4801.loc[(dados.V4801 == 25)] = 'Ensino Superior, Mestrando ou Doutorando'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [13]:
dados.V4801 = dados.V4801.fillna(value = 'Não Informado')

In [14]:
dados.head()

          V9532                                     V4801  V06111  V06112
0  1.000000e+12                             Não Informado     3.0     1.0
1           NaN  Ensino Superior, Mestrando ou Doutorando     1.0     1.0
2           NaN             Ensino Médio em tempo regular     1.0     3.0
3           NaN     Ensino Fundamental I em tempo regular     NaN     NaN
4  2.800000e+03                             Não Informado     3.0     1.0

# __Para Internet__:

In [15]:
dados.V06111.loc[(dados.V06111 == 1)] = 'Sim'
dados.V06111.loc[(dados.V06111 == 3)] = 'Não'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
dados.V06111 = dados.V06111.fillna(value = 'Não Informado')

In [17]:
dados.head()

,V9532,V4801,V06111,V06112
0,1.000000e+12,Não Informado,Não,1.0
1,NaN,"Ensino Superior, Mestrando ou Doutorando",Sim,1.0
2,NaN,Ensino Médio em tempo regular,Sim,3.0
3,NaN,Ensino Fundamental I em tempo regular,Não Informado,NaN
4,2.800000e+03,Não Informado,Não,1.0

# __Para celular pessoal:___

In [18]:
dados.V06112.loc[(dados.V06112 == 1)] = 'Sim'
dados.V06112.loc[(dados.V06112 == 3)] = 'Não'

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
dados.V06112 = dados.V06112.fillna(value = 'Não Informado')

In [20]:
dados.columns = ['Renda', 'Escolaridade', 'Internet', 'Celular']

In [21]:
dados.head()

,Renda,Escolaridade,Internet,Celular
0,1.000000e+12,Não Informado,Não,Sim
1,NaN,"Ensino Superior, Mestrando ou Doutorando",Sim,Sim
2,NaN,Ensino Médio em tempo regular,Sim,Não
3,NaN,Ensino Fundamental I em tempo regular,Não Informado,Não Informado
4,2.800000e+03,Não Informado,Não,Sim

# __Para Renda:__

In [30]:
stats.percentileofscore(dados.Renda, 75)

NameError: name 'stats' is not defined

In [23]:
dados.Renda.describe()

count    1.573390e+05
mean     3.795626e+10
std      1.910911e+11
min      1.000000e+00
25%      5.450000e+02
50%      8.000000e+02
75%      1.500000e+03
max      1.000000e+12
Name: Renda, dtype: float64

##### Máximo valor está explícito pelo describe()

In [24]:
step = (2*(np.percentile(dados.Renda, 75) - np.percentile(dados.Renda, 25)))/(358918**(1/3))
print(step)

nan

/usr/local/lib/python3.5/dist-packages/numpy/lib/function_base.py:4291: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [25]:
step = (2*(np.percentile(dados.Renda, 75) - np.percentile(dados.Renda, 25)))/(358918**(1/3))
faixas = np.arange(0, 50000, 500)
#Se acima de 20k, será tratado como faixa acima de 20k.
dados_renda = pd.cut(dados.Renda, bins = faixas, right=False)
print(step)

nan

/usr/local/lib/python3.5/dist-packages/numpy/lib/function_base.py:4291: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [26]:
pd.DataFrame([dados.Renda, dados_renda]).T

        Renda           Renda
0       1e+12             NaN
1         NaN             NaN
2         NaN             NaN
3         NaN             NaN
4        2800    [2500, 3000)
5         545     [500, 1000)
6         NaN             NaN
7         NaN             NaN
8       1e+12             NaN
9          80        [0, 500)
10        NaN             NaN
11       3000    [3000, 3500)
12        NaN             NaN
13        NaN             NaN
14        NaN             NaN
15        NaN             NaN
16        NaN             NaN
17        NaN             NaN
18       1500    [1500, 2000)
19        900     [500, 1000)
20        810     [500, 1000)
21       1500    [1500, 2000)
22        NaN             NaN
23        700     [500, 1000)
24        NaN             NaN
25        600     [500, 1000)
26       1000    [1000, 1500)
27        545     [500, 1000)
28       1500    [1500, 2000)
29       1800    [1500, 2000)
...       ...             ...
358889    NaN             NaN
358890    NaN             NaN
358891    NaN             NaN
358892   4000    [4000, 4500)
358893    NaN             NaN
358894    NaN             NaN
358895   5000    [5000, 5500)
358896   2000    [2000, 2500)
358897   1000    [1000, 1500)
358898   8000    [8000, 8500)
358899    NaN             NaN
358900  12000  [12000, 12500)
358901  15000  [15000, 15500)
358902    NaN             NaN
358903  10000  [10000, 10500)
358904    NaN             NaN
358905  1e+12             NaN
358906   1000    [1000, 1500)
358907    NaN             NaN
358908  19000  [19000, 19500)
358909   5000    [5000, 5500)
358910    NaN             NaN
358911  16000  [16000, 16500)
358912   6000    [6000, 6500)
358913    NaN             NaN
358914    NaN             NaN
358915   7000    [7000, 7500)
358916   3500    [3500, 4000)
358917    NaN             NaN
358918    NaN             NaN

[358919 rows x 2 columns]