# _COMO O ACESSO A ESCOLARIDADE INFLUENCIA O INDIVÍDUO A MANTER-SE CONECTADO?_

In [29]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
from math import *
from scipy import stats

In [30]:
import os
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Dell\Documents\Insper\2A\Dados\DS18\PNAD 2011

In [31]:
dados = pd.read_csv('../../Excels/PNAD2011/PES2011.csv')

In [32]:
dados = dados.loc[:, ['V9532', 'V4801', 'V06111', 'V06112']]
dados.tail()

         V9532  V4801  V06111  V06112
358914     NaN   15.0     NaN     NaN
358915  7000.0    NaN     1.0     1.0
358916  3500.0    NaN     1.0     1.0
358917     NaN   22.0     1.0     1.0
358918     NaN   13.0     NaN     NaN

#  __Para escolaridade:__

In [33]:
dados.V4801.loc[(dados.V4801 == 1) | (dados.V4801 == 2)] = 'Em alfabetização'

In [34]:
dados.V4801.loc[(dados.V4801 == 3) | (dados.V4801 == 21)] = 'Jovens e Adultos em alfabetização ou cursando Ensino Fundamental'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [35]:
dados.V4801.loc[(dados.V4801 == 23)] = 'Jovens e Adultos cursando Ensino Médio'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [36]:
dados.V4801.loc[(dados.V4801 == 4) | (dados.V4801 == 5) | (dados.V4801 == 6) | (dados.V4801 == 7) | (dados.V4801 == 12) | (dados.V4801 == 13) | (dados.V4801 == 14) | (dados.V4801 == 15)] = 'Ensino Fundamental I em tempo regular'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [37]:
dados.V4801.loc[(dados.V4801 == 8) | (dados.V4801 == 9) | (dados.V4801 == 10) | (dados.V4801 == 11) | (dados.V4801 == 16) | (dados.V4801 == 17) | (dados.V4801 == 18) | (dados.V4801 == 19) | (dados.V4801 == 20)] = 'Ensino Fundamental I em tempo regular'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [38]:
dados.V4801.loc[(dados.V4801 == 22)] = 'Ensino Médio em tempo regular'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [39]:
dados.V4801.loc[(dados.V4801 == 24)] = 'Pré-Vestibulando'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [40]:
dados.V4801.loc[(dados.V4801 == 25)] = 'Ensino Superior, Mestrando ou Doutorando'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [41]:
dados.V4801 = dados.V4801.fillna(value = 'Não Informado')

In [42]:
dados.head()

          V9532                                     V4801  V06111  V06112
0  1.000000e+12                             Não Informado     3.0     1.0
1           NaN  Ensino Superior, Mestrando ou Doutorando     1.0     1.0
2           NaN             Ensino Médio em tempo regular     1.0     3.0
3           NaN     Ensino Fundamental I em tempo regular     NaN     NaN
4  2.800000e+03                             Não Informado     3.0     1.0

# __Para Internet__:

In [43]:
dados.V06111.loc[(dados.V06111 == 1)] = 'Sim'
dados.V06111.loc[(dados.V06111 == 3)] = 'Não'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [44]:
dados.V06111 = dados.V06111.fillna(value = 'Não Informado')

In [45]:
dados.head()

,V9532,V4801,V06111,V06112
0,1.000000e+12,Não Informado,Não,1.0
1,NaN,"Ensino Superior, Mestrando ou Doutorando",Sim,1.0
2,NaN,Ensino Médio em tempo regular,Sim,3.0
3,NaN,Ensino Fundamental I em tempo regular,Não Informado,NaN
4,2.800000e+03,Não Informado,Não,1.0

# __Para celular pessoal:___

In [46]:
dados.V06112.loc[(dados.V06112 == 1)] = 'Sim'
dados.V06112.loc[(dados.V06112 == 3)] = 'Não'

C:\Insper\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [47]:
dados.V06112 = dados.V06112.fillna(value = 'Não Informado')

In [48]:
dados.columns = ['Renda', 'Escolaridade', 'Internet', 'Celular']

In [49]:
dados.head()

,Renda,Escolaridade,Internet,Celular
0,1.000000e+12,Não Informado,Não,Sim
1,NaN,"Ensino Superior, Mestrando ou Doutorando",Sim,Sim
2,NaN,Ensino Médio em tempo regular,Sim,Não
3,NaN,Ensino Fundamental I em tempo regular,Não Informado,Não Informado
4,2.800000e+03,Não Informado,Não,Sim

# __Para Renda:__

In [50]:
stats.percentileofscore(dados.Renda, 75)

0.45873860118856902

In [51]:
dados.Renda.describe()

count    1.573390e+05
mean     3.795626e+10
std      1.910911e+11
min      1.000000e+00
25%      5.450000e+02
50%      8.000000e+02
75%      1.500000e+03
max      1.000000e+12
Name: Renda, dtype: float64

##### Máximo valor está explícito pelo describe()

In [52]:
step = ((2*(stats.percentileofscore(dados.Renda, 75) - stats.percentileofscore(dados.Renda, 25)))/(358918**(1/3)))*1000
print(step)

11.1733481526

In [53]:
"""def faixas():
    faixa = np.arange(0, 50000, 1000)
    for t in faixa:
        if t == 49000:
            faixa = list(faixa)
            faixa.append(51e+3)
    return faixa
print(faixas())"""

'def faixas():\n    faixa = np.arange(0, 50000, 1000)\n    for t in faixa:\n        if t == 49000:\n            faixa = list(faixa)\n            faixa.append(51e+3)\n    return faixa\nprint(faixas())'

In [54]:
faixa = np.arange(0, 50000, 1000)
dados_renda = pd.cut(dados.Renda, bins=np.r_[faixa, np.inf], right=False)
print(step)

11.1733481526

In [55]:
dados.Renda.fillna(value = 'Não Informado')

0                 1e+12
1         Não Informado
2         Não Informado
3         Não Informado
4                  2800
5                   545
6         Não Informado
7         Não Informado
8                 1e+12
9                    80
10        Não Informado
11                 3000
12        Não Informado
13        Não Informado
14        Não Informado
15        Não Informado
16        Não Informado
17        Não Informado
18                 1500
19                  900
20                  810
21                 1500
22        Não Informado
23                  700
24        Não Informado
25                  600
26                 1000
27                  545
28                 1500
29                 1800
              ...
358889    Não Informado
358890    Não Informado
358891    Não Informado
358892             4000
358893    Não Informado
358894    Não Informado
358895             5000
358896             2000
358897             1000
358898             8000
358899    Não Informado
358900            12000
358901            15000
358902    Não Informado
358903            10000
358904    Não Informado
358905            1e+12
358906             1000
358907    Não Informado
358908            19000
358909             5000
358910    Não Informado
358911            16000
358912             6000
358913    Não Informado
358914    Não Informado
358915             7000
358916             3500
358917    Não Informado
358918    Não Informado
Name: Renda, Length: 358919, dtype: object

In [56]:
pd.DataFrame([dados.Renda, dados_renda]).T

        Renda               Renda
0       1e+12      [49000.0, inf)
1         NaN                 NaN
2         NaN                 NaN
3         NaN                 NaN
4        2800    [2000.0, 3000.0)
5         545       [0.0, 1000.0)
6         NaN                 NaN
7         NaN                 NaN
8       1e+12      [49000.0, inf)
9          80       [0.0, 1000.0)
10        NaN                 NaN
11       3000    [3000.0, 4000.0)
12        NaN                 NaN
13        NaN                 NaN
14        NaN                 NaN
15        NaN                 NaN
16        NaN                 NaN
17        NaN                 NaN
18       1500    [1000.0, 2000.0)
19        900       [0.0, 1000.0)
20        810       [0.0, 1000.0)
21       1500    [1000.0, 2000.0)
22        NaN                 NaN
23        700       [0.0, 1000.0)
24        NaN                 NaN
25        600       [0.0, 1000.0)
26       1000    [1000.0, 2000.0)
27        545       [0.0, 1000.0)
28       1500    [1000.0, 2000.0)
29       1800    [1000.0, 2000.0)
...       ...                 ...
358889    NaN                 NaN
358890    NaN                 NaN
358891    NaN                 NaN
358892   4000    [4000.0, 5000.0)
358893    NaN                 NaN
358894    NaN                 NaN
358895   5000    [5000.0, 6000.0)
358896   2000    [2000.0, 3000.0)
358897   1000    [1000.0, 2000.0)
358898   8000    [8000.0, 9000.0)
358899    NaN                 NaN
358900  12000  [12000.0, 13000.0)
358901  15000  [15000.0, 16000.0)
358902    NaN                 NaN
358903  10000  [10000.0, 11000.0)
358904    NaN                 NaN
358905  1e+12      [49000.0, inf)
358906   1000    [1000.0, 2000.0)
358907    NaN                 NaN
358908  19000  [19000.0, 20000.0)
358909   5000    [5000.0, 6000.0)
358910    NaN                 NaN
358911  16000  [16000.0, 17000.0)
358912   6000    [6000.0, 7000.0)
358913    NaN                 NaN
358914    NaN                 NaN
358915   7000    [7000.0, 8000.0)
358916   3500    [3000.0, 4000.0)
358917    NaN                 NaN
358918    NaN                 NaN

[358919 rows x 2 columns]