In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv("PES2011.csv")

In [3]:
dados = dados.loc[:, ['V9532', 'V4801', 'V06111', 'V06112']]
dados.head()

          V9532  V4801  V06111  V06112
0  1.000000e+12    NaN       3       1
1           NaN     25       1       1
2           NaN     22       1       3
3           NaN     15     NaN     NaN
4  2.800000e+03    NaN       3       1

In [4]:
"""dados.V9532.fillna(value = 0, inplace = True)
desred_decimals = 1
dados['V9532'] = dados['V9532'].apply(lambda x: round(x, desred_decimals))"""

"dados.V9532.fillna(value = 0, inplace = True)\ndesred_decimals = 1\ndados['V9532'] = dados['V9532'].apply(lambda x: round(x, desred_decimals))"

#  __Para escolaridade:__

In [5]:
dados.V4801.loc[(dados.V4801 == 1) | (dados.V4801 == 2)] = 'Em alfabetização'

In [6]:
dados.V4801.loc[(dados.V4801 == 3) | (dados.V4801 == 21)] = 'Jovens e Adultos em alfabetização ou cursando Ensino Fundamental'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
dados.V4801.loc[(dados.V4801 == 23)] = 'Jovens e Adultos cursando Ensino Médio'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
dados.V4801.loc[(dados.V4801 == 4) | (dados.V4801 == 5) | (dados.V4801 == 6) | (dados.V4801 == 7) | (dados.V4801 == 12) | (dados.V4801 == 13) | (dados.V4801 == 14) | (dados.V4801 == 15)] = 'Ensino Fundamental I em tempo regular'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
dados.V4801.loc[(dados.V4801 == 8) | (dados.V4801 == 9) | (dados.V4801 == 10) | (dados.V4801 == 11) | (dados.V4801 == 16) | (dados.V4801 == 17) | (dados.V4801 == 18) | (dados.V4801 == 19) | (dados.V4801 == 20)] = 'Ensino Fundamental I em tempo regular'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
dados.V4801.loc[(dados.V4801 == 22)] = 'Ensino Médio em tempo regular'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
dados.V4801.loc[(dados.V4801 == 24)] = 'Pré-Vestibulando'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
dados.V4801.loc[(dados.V4801 == 25)] = 'Ensino Superior, Mestrando ou Doutorando'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [13]:
dados.V4801 = dados.V4801.fillna(value = 'Não Informado')

In [14]:
dados.head()

          V9532                                     V4801  V06111  V06112
0  1.000000e+12                             Não Informado       3       1
1           NaN  Ensino Superior, Mestrando ou Doutorando       1       1
2           NaN             Ensino Médio em tempo regular       1       3
3           NaN     Ensino Fundamental I em tempo regular     NaN     NaN
4  2.800000e+03                             Não Informado       3       1

# __Para Internet__:

In [17]:
dados.V06111.loc[(dados.V06111 == 1)] = 'Sim'
dados.V06111.loc[(dados.V06111 == 3)] = 'Não'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
dados.V06111 = dados.V06111.fillna(value = 'Não Informado')

In [20]:
dados.head()

,V9532,V4801,V06111,V06112
0,1.000000e+12,Não Informado,Não,1
1,NaN,"Ensino Superior, Mestrando ou Doutorando",Sim,1
2,NaN,Ensino Médio em tempo regular,Sim,3
3,NaN,Ensino Fundamental I em tempo regular,Não Informado,NaN
4,2.800000e+03,Não Informado,Não,1

# __Para celular pessoal:___

In [21]:
dados.V06112.loc[(dados.V06112 == 1)] = 'Sim'
dados.V06112.loc[(dados.V06112 == 3)] = 'Não'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [22]:
dados.V06112 = dados.V06112.fillna(value = 'Não Informado')

In [24]:
dados.columns = ['Renda', 'Escolaridade', 'Acesso a Internet', 'Possui celular pessoal']

In [25]:
dados.head()

,Renda,Escolaridade,Acesso a Internet,Possui celular pessoal
0,1.000000e+12,Não Informado,Não,Sim
1,NaN,"Ensino Superior, Mestrando ou Doutorando",Sim,Sim
2,NaN,Ensino Médio em tempo regular,Sim,Não
3,NaN,Ensino Fundamental I em tempo regular,Não Informado,Não Informado
4,2.800000e+03,Não Informado,Não,Sim